body{background-color: #D5E4EE;}
.aboutme.html{background-color: #FCE2E5;font-family: Arial, Helvetica, sans-serif;}
.educationalbackground{background-color: #FCE2E5;font-family: Arial, Helvetica, sans-serif;}
.skills{background-color: #FCE2E5;font-family: Arial, Helvetica, sans-serif;}
.workexperience{background-color: #FCE2E5;font-family: Arial, Helvetica, sans-serif;}
